<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <HEAD>
      <TITLE>
         Создание реферата
      </TITLE>
   </HEAD>
<BODY>
   <H1>Привет!</H1>
   <P>Здесь вы можете создать реферат по вашей дипломной/курсовой работе</P>

   <form enctype="multipart/form-data" action="index.html" method="POST">
   <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
   Выберете файл для загрузки: <input name="uploadedfile" type="file" /><br />
   <input type="submit" value="GO" />
   </form>
</BODY>
</HTML>